{% extends "base_site.html" %}

{% block title %} Dashboard v2 {% endblock title %}

{% block content %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Банеры
        </h1>
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Верхний банер</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" method="post" action="{{ url_for("admin_blueprint.banners") }}" enctype=multipart/form-data >
                <div class="box-body">
                    {{ top_banner_form.csrf_token }}
                    <div class="form-group">
{#                        <label for="exampleInputFile">File input</label>#}
                        {{ top_banner_form.file.label(for="exampleInputFile") }}
{#                        <input type="file" id="topBanner">#}
                        {{ top_banner_form.file(type="file", id="topBanner") }}

                        <p class="help-block">Example block-level help text here.</p>
                    </div>
                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <button type="submit" value="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>

        </div>
    </section>



{% endblock content %}

{% block javascripts %}

    <!-- ChartJS -->
    <script src="/static/assets/js/chart.js"></script>

    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="/static/assets/js/pages/dashboard2.js"></script>

    <!-- AdminLTE for demo purposes -->
    <script src="/static/assets/js/demo.js"></script>

{% endblock %}
