{% extends "site/base.html" %}

{% block content %}

    <div class="content-container m-10 ">

        <div class="container">
            <div class="row">
                <div class="col-8">
                    <iframe id="ytplayer" type="text/html" width="640" height="360"
                            src="https://www.youtube.com/embed/{{ payload["yt_trailer_id"] }}"
                            frameborder="0"></iframe>
                </div>
                <div class="col-4">
                    <table class="table table-dark table-sm">
                        <tbody>
                        <tr>
                            <th scope="row">Страна</th>
                            <td>{{ payload["country"] }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Композитор</th>
                            <td>{{ payload["composer"] }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Продюсер</th>
                            <td>{{ payload["producer"] }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Жанр</th>
                            <td>{{ payload["genre"] }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Бюджет</th>
                            <td>{{ payload["budget"] }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Время</th>
                            <td>{{ payload["time"] }} мин</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="film-descr">
            <p>{{ payload["description"] }}</p>
        </div>
        <div class="btn-container">
            <button type="button" class="btn btn-block btn-success m-1">Купить билет</button>
        </div>

    </div>



{% endblock content %}