<div>
    <div class="container">
        <div class="row">
            <div class="col-5">
                <h5>Мобильные приложения</h5>

            </div>
            <div class="col-2">
                <h5>Афиша</h5>
                <div class="margin-top-10">
                    <p>
                        <a>Расписание</a>
                    </p>
                    <p>
                        <a>Скоро в прокате</a>
                    </p>
                    <p>
                        <a>Кинотеатры</a>
                    </p>
                    <p>
                        <a>Акции</a>
                    </p>

                </div>
            </div>
            <div class="col-2">
                <h5>О кинотеатре</h5>
                <div class="margin-top-10">
                    <p>
                        <a>Новости</a>
                    </p>
                    <p>
                        <a>Реклама</a>
                    </p>
                    <p>
                        <a>Кафе</a>
                    </p>
                    <p>
                        <a>Контакты</a>
                    </p>

                </div>
            </div>
            <div class="col-3">
                <h5>Соцсети</h5>
            </div>

        </div>

    </div>
    <div class="btn-container">
        <p>
            @KinoCMS 2020, All rights reserved
        </p>
    </div>
</div>